* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
}

/* ESTILO BOTÃO VOLTAR */

.btn-github {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 115px;
  left: 30px;
  right: 100%;
  background-color: #38b6ff;
  color: black;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 1px 1px 2px black;
  z-index: 10000;
  background-image: url(../Imagens/GitHub.png);
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
}

.btn-github:hover {
  box-shadow: 0px 0px 8px #38b6ff;
  transform: scale(1.05);
}

.btn-voltar {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  left: 30px;
  right: 100%;
  background-color: #38b6ff;
  color: black;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 1px 1px 2px black;
  z-index: 10000;
  background-image: url(../Imagens/Voltar.png);
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
}

.btn-voltar:hover {
  box-shadow: 0px 0px 8px #38b6ff;
  transform: scale(1.05);
}

/* ESTILO BOTÃO VOLTAR - FIM*/

.clear {
  clear: both;
}

.center {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.header {
  width: 100%;
  padding: 0px 2%;
  height: 60px;
  background-color: #212343;
}

.header img {
  margin: 15px;
}

.container-banner {
  width: 100%;
  padding: 0px 2%;
  height: 557px;
  background-image: url("../Imagens/header_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container-banner .center {
  height: 100%;
}

.form {
  padding: 10px;
  width: 400px;
  height: calc(100% + 30px);
  float: right;
  position: relative;
  top: -15px;
  border-width: 8px;
  border-color: rgba(120, 120, 120, 0.5);
  border-style: solid;
  background-color: white;
  background-clip: padding-box;
  /* background-origin: tem o mesmo conceito que o background-clip porém serve para imagens; */
}

.form h2 {
  font-weight: normal;
  color: #999999;
  font-size: 21px;
}

.input-container {
  margin-top: 20px;
}

.input-container span {
  display: inline-block;
  width: 100%;
  font-size: 17px;
  color: #bbb;
}

.form p {
  display: inline-block;
  width: 100%;
  font-size: 17px;
  color: #bbb;
  margin: 20px 0;
}

.input-container input[type="text"] {
  margin-top: 8px;
  width: 344px;
  height: 55px;
  border: 1px solid #ccc;
}

.input-container input[type="submit"] {
  border-bottom: 5px solid #4a5097;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  cursor: pointer;
  width: 280px;
  height: 56px;
  background-color: #363a6d;
  font-size: 25px;
  display: inline-block;
  color: white;
}

.input-container input[type="submit"]:hover {
  background-color: #4a5097;
}

.input-submit-container {
  text-align: center;
}

.container-list {
  padding: 30px;
  margin-top: 100px;
  float: left;
  width: 519px;
  height: 270px;
  background-color: rgba(33, 35, 67, 0.7);
  margin-top: 40px;
}

.container-list ul {
  list-style-position: inside;
}

.container-list ul li {
  margin-top: 18px;
  color: white;
}

.container-2 {
  padding: 40px 2%;
  background-color: #ddd;
  text-align: center;
}

.container-2 h2 {
  font-weight: normal;
}

.container-2 p {
  width: 100%;
  max-width: 768px;
  margin: 15px 0;
  display: inline-block;
  text-align: justify;
}

.arrow {
  position: relative;
  top: 60px;
  margin: auto;
  width: 40px;
  height: 40px;
  background-image: url("../Imagens/arrow.png");
  background-size: 100% 100%;
}

.section-1 {
  padding: 90px 2%;
}

.section-1 h2 {
  text-align: center;
  color: #462663;
  font-weight: normal;
}

.container-section {
  margin-top: 40px;
  text-align: center;
}

.container-single {
  float: left;
  width: 33.33%;
  padding: 30px;
}

.container-single p {
  display: inline-block;
  text-align: justify;
  padding: 10px 25px;
}

.container-single img {
  width: 70px;
}

.footer {
  border-top: 2px solid #888;
  padding: 20px 0;
  text-align: center;
  color: #888;
}

.footer p {
  margin-top: 8px;
}

@media screen and (max-width: 1024px) {
  .header {
    width: 100%;
    height: auto;
    padding: 15px 0;
    text-align: center;
  }
  .header img {
    margin: 0;
  }
  .container-list {
    padding: 30px 0px;
    width: 90%;
    height: auto;
    max-width: 500px;
    display: inline-block;
    margin-top: 0px;
    float: none;
  }
  .container-banner {
    width: 100%;
    padding: 40px 2%;
    height: auto;
    text-align: center;
  }
  .form {
    margin-top: 30px;
    max-width: 400px;
    padding: 10px;
    width: 90%;
    height: 100%;
    display: inline-block;
    float: none;
    top: 0px;
  }
  .input-container input[type="text"] {
    width: 100%;
    height: 55px;
  }
  .input-container input[type="submit"] {
    max-width: 280px;
    width: 100%;
    height: 56px;
  }
  .container-single {
    float: none;
    display: inline-block;
    width: 100%;
    padding: 30px 0;
  }
  .container-2 {
    padding-right: 4%;
    padding-left: 4%;
  }
}

@media and and (max-width: 768px) {
  .container-2 {
    padding-right: 4%;
    padding-left: 4%;
  }
  .container-list {
    margin-top: 0px;
    float: none;
    display: inline-block;
    width: 100%;
  }
  .form {
    float: none;
    display: inline-block;
    width: 90%;
    margin-top: 30px;
  }
}
